@use '../../../styles/partials' as *;

.message {
  display: block;
  font-family: $font-family-lato;
  font-size: $font-size-xxs;
  color: $color-red-error-message;
  padding: 0;
}

.hidden_message {
  @extend .message;
  visibility: hidden;
  height: 0;
}

.container {
  min-height: calc($font-size-xxs + 5px);
}
