@use '../link-utils';

.take_the_challenge_btn {
  @include link-utils.take-the-challenge-btn();
  margin-top: 38px;
  margin-left: 30px;
}

.link_lg_top {
  @include link-utils.link-lg();
  margin-top: 27px;
}
