@use '../../../styles/partials' as *;

.transparent_overlay {
  position: fixed;
  top: $navigation-height;
  left: 0;
  width: 100vw;
  height: calc(100vh - $navigation-height);
  background-color: rgba(58, 58, 58, 0.5);
  animation: fade-in 200ms linear;
  @include z-index-surface();
}

.spinner_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 200ms linear;
  @include z-index-surface();
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
